.specialist-header {
    background-color: #F1F9F4;
    padding: 60px 30px;
}
.credibly {
    width: 60%;
    margin: 0 auto;
}
.special-top {
    margin: 50px 0;
}
.holistically {
    width: 90%;
}
.special-pera {
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialist-contact {
    background-color: aliceblue;
}