.specialist-header {
    background-color: #F1F9F4;
    padding: 60px 30px;
}
.credibly {
    width: 60%;
    margin: 0 auto;
}

.holistically {
    width: 90%;
}

.specialist-contact {
    background-color: aliceblue;
}